
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}

#header {
    width: 100vw;
    height: 100vh;
    background: url(./images/mastehead.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
   }
   #header p{
font-size: 10px;
padding-top: 5%;
   }
h1{
    font-size: 40px;
}

nav{
    padding:1% 5% ;
    display: flex;
}
#nom{
    padding-left: 2%;
    font-style: italic;
    font-family: serif;
}
   #picture-perfect{
       padding: 20% 10%;
       width: 50%;
       
   }

#section1 {
    width: 100vw;
    padding: 10%;
    background-color: white;
}
.start_something p{
    font-size: 10px;
    padding-top: 5%;
    color: gray;
       }

       .start_something h2{
        font-size: 30px;
    }

#section2 {
    width: 100vw;
    padding: 10%;
    background-color: white;
}
.box {
    padding: 10% 8%;
    color: white;
}
.box p{
    font-size: 10px;
    padding-top: 5%;
    color: white;
}
    #section2-bloc1{
        background-color: #f5989d;

    }
    #section2-bloc2{
        background-color: #615f7d;
       

    }
    #section2-bloc3{
        background-color: sandybrown;
        background: url(./images/box-bg.jpg) no-repeat top/cover;
       

    }
    #section2-bloc4{

        background-color: seashell;
        background: url(./images/box-bg-lg.jpg) no-repeat center/cover;
    }
    #section2-bloc5{

        background-color: #5ccf86;
    }

#section3 {
    width: 100vw;
    padding: 10%;
    background-color: white;
}

.box1{
        margin: 10%;
}
.box1 p{
    font-size: 10px;
    padding-top: 30%;
    color: white;
}

#section4 {
    width: 100vw;
    padding: 10%;
    color: white;
    background: url(./images/full-image.jpg) no-repeat center center;
    background-size:cover;
}

#section4 p {
    font-size: 10px;
padding-top: 2%;
}

#section4 h3{
    font-size: 60px;
    line-height:100%;
}

    .option{
    font-weight: bolder ;
    margin-bottom:60px;

}

#section5 {
    width: 100vw;
    color: white;
    padding:50px;
    background:#60d48b;
}

#section5-bloc1 h3{
    font-size: 20px;
}

.section5-box{
    margin:5% 0%;
}

#section6 {
    width: 100vw;
    padding: 10%;
    background-color: white (255, 0, 179);
}

span{
    
    text-transform:uppercase;
	padding:10px;
	border-radius:4px;
	background:#e1e1e1;
	font-size:11px;
	color:#fff;	
}

#pop{
    background: purple;
}

.buy {
 background-color: #84c99d;
 padding: 10px;
 color: white; 
 border-radius: 5px;
 border: none;

}

.win{
   position: relative;
   top: 5px;
}


footer{
    background: black;
    color: white;
    padding: 15%;
    font-size: 10px;
}

.touch{
    padding: 15px 0px;
}

#footer-bloc2{
 display: flex;    
 justify-content: left;
 flex-wrap: wrap;
}

#footer-bloc2 h2{
    font-size: 10px;
    padding-bottom: 5px;
}
input{
    width: 80vw;
    height: 5vh;
    border: none;
    border-radius: 5px 0 0 5px;
}
#bouton{
    width: 20vw;
    color: white;
    background-color: #84c99d;
    border: none;
}


